@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&family=Poppins:wght@300&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fuentes

font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*/
.grids{
    display: grid;
    width: 100%;
    grid-template: 100px 1fr 100px, 200px repeat(2, 1fr);
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
    ;

}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.nav-bar{
    background-color: green;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.nav-bar h1{
    font-size: 3rem;
    color: black;
    right: 36rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-bar ul{ 
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 1.25rem;
    font-family: 'Poppins', sans-serif;
}
.nav-bar li a{
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
}
.section-principal{
    background-image: url(../assets/Foto\ todos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.section-principal p{
    color: white;
    font-size: 1.2rem;
    width: 11rem;
    padding-left: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}




/* plantel */

.titulo-plantel{
    background-color: whitesmoke;
    color: green;
    font-size: 2.25rem;
    font-weight: bold;
    padding-left: 2.5rem;
    padding-bottom: 1rem ;
    padding-top: 1.5625rem;
    font-family: 'Poppins', sans-serif;

}

.section{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3rem;
    font-family: 'Poppins', sans-serif;
}
.subtitulo-arquero{
    background-color: whitesmoke;
    color: red;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.section h4{    
    color: black;
    font-size: 1rem;
    padding-left: 2.5rem;
    padding-bottom: 0.5rem;
}

.section img{
    width: 16.5rem;
    height: 20rem;
    padding-left: 2.5rem; ;
}

.subtitulo-defensores{
    background-color: whitesmoke;
    color: red;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.subtitulo-mediocampistas{
    background-color: whitesmoke;
    color: red;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.subtitulo-delanteros{
    background-color: whitesmoke;
    color: red;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
}



/* ienda */
.titulo-tienda{
    background-color: whitesmoke;
    color: green;
    font-size: 2.25rem;
    font-weight: bold;
    padding-left: 2.5rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
    font-family: 'Poppins', sans-serif;

}
.rem-jug{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}
.rem-jug h3{
    color: black;
    font-size: 1rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
}
.rem-jug img{
    width: 20rem;
    padding-left: 3.125rem;
}
.rem-jug button{
    font-size: 1.5rem;
    color: black;
    background-color: green;
    width: 6.5rem;
    height: 2rem;
    border: .125rem solid black;
}
.rem-arq{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}
.rem-arq h3{
    color:black;
    font-size: 1rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem  ;
}
.rem-arq img{
    width: 20rem;
    padding-left: 3.125rem;
}
.rem-arq button{
    font-size: 1.5rem;
    color: black;
    background-color: green;
    width: 6.5rem;
    height: 2rem;
    border: .125rem solid black;
}
.short-tit{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}
.short-tit h3{
    color: black;
    font-size: 16px;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
}
.short-tit img{
    width: 20rem;
    padding-left: 3.125rem
}
.short-tit button{
    font-size: 1.5rem;
    color: black;
    background-color: green;
    width: 6.5rem;
    height: 2rem;
    border: .125rem solid black;
}

/* Galeria */

h2{
    background-color: whitesmoke;
    color: green;
    font-size: 2.25rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
    font-family: 'Poppins', sans-serif;
}

.section-imagenes{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.section-imagenes h3{
    color: black;
    font-size: 1.5rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
}

.section-imagenes img{
    width: 27rem;
    height: 24rem;
    padding-left: 3.125rem ;
}

.section-videos{
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.section-videos h3{
    color: black;
    font-size: 1.5rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
}
.videos{
    display:flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
/* Sponsors */

.sponsor-principal{
    background-color: whitesmoke;
}
.sponsor-principal h2{
    color: green;
    font-size: 2.25rem;
    font-weight: bold;
    padding-left: 2.5rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
    font-family: 'Poppins', sans-serif;
}
.sponsor-principal img{
    width: 21.875rem;
    height: 9rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
}

.sponsor-secundarios{
    background-color: whitesmoke;
}
.sponsor-secundarios h2{
    color: green;
    font-size: 2.25rem;
    font-weight: bold;
    padding-left: 2.5rem;
    padding-bottom: 1.5625rem ;
    padding-top: 1.5625rem;
    font-family: 'Poppins', sans-serif;
}

.sponsor-secundarios img{
    width: 18.75rem;
    height: 12rem;
    padding-left: 3.125rem;
    padding-bottom: 1.5625rem;
    padding-top: 1.5625rem;
}

.pie-pag{
    background-color: darkgreen;
    height: 5rem;
}

.pie-pag h3{
    font-size: 0.8rem;
    color: black;
    position: relative;
    top: 1.5rem;
    padding-left: 1.5rem;
    font-family: 'Playfair Display', serif;
}
.pie-pag ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content:  end;
    gap: 1.25rem;
}

.pie-pag img{
    width: 3.2rem;
    height: 3.2rem;
    text-align: right; 
    padding-top: 1rem;
    padding-right: 0.5rem;
} 