.nav-bar {
    background-color: green;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    position: sticky;
        h1{
            font-size: 3rem;
            color: black;
            right: 36rem;
            font-family: 'Open Sans', sans-serif;
        }
        ul{
            list-style: none;
            display: flex;
            justify-content: end;
            gap: 1.25rem;
            font-family: 'Poppins', sans-serif;
        }
        li{
            a{
                text-decoration: none;
                color: black;
                font-size: 1.25rem;
                &:hover{
                    color: white;
                }
            }
        }
    }







