@import "../utilities/variable" ;
@import "../utilities/mixins" ;

.section-principal {
    background-image: url(../assets/Fototodos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    @include flex(row, none, none, none);
        p{
            color: $color-parrafo-principal;
            font-size: 1.2rem;
            width: 11rem;
            padding-left: 3rem;
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    }


