@media(max-width:425px) {

    .nav-bar {
        h1 {
            font-size: 3rem;
        }

        ul {
            @include flex(column, none, none, center) ;
            gap: 5px;
        }
    }


    .section-principal {
        p {
            color: $color-parrafo-principal;
            font-size: 1.2rem;
            width: 25rem;
            padding-left: 2rem;
            padding-right: 2rem;
            padding-top: 8rem;
            padding-bottom: 5rem;
        }
    }

    .main-plantel {
        .titulo-plantel {
            font-size: 2rem;
            font-weight: bolder;
            padding-left: 2rem;
        }

        .section {
            @include flex(column, wrap, none, none) ;
            gap: 3rem;

            h4 {
                color: $color-nombre;
                font-size: 1.5rem;
                padding-left: 2.5rem;
                padding-bottom: 0.5rem;
            }

            img {
                width: 100%;
                height: 30rem;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }
    }


    .subtitulo-arquero {
        color: $color-texto-posicion;
        font-size: 2rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .subtitulo-defensores {
        color: $color-texto-posicion;
        font-size: 2rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .subtitulo-mediocampistas {
        color: $color-texto-posicion;
        font-size: 2rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .subtitulo-delanteros {
        color: $color-texto-posicion;
        font-size: 2rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .main-tienda {
        .rem-jug {
            @include flex(column, none, none, center) ;

            h3 {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
                padding-bottom: 1.5625rem;
            }

            img {
                width: 100%;
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }


        .rem-arq {
            @include flex(column, none, none, center) ;

            h3 {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
                padding-bottom: 1.5625rem;
            }

            img {
                width: 100%;
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }


        .short-tit {
            @include flex(column, none, none, center) ;

            h3 {
                padding-left: 3.125rem;
                padding-right: 3.125rem;
                padding-bottom: 1.5625rem;
            }

            img {
                width: 100%;
                padding-left: 3.125rem;
                padding-right: 3.125rem;
            }
        }
    }


    .main-galeria {
        h2 {
            font-size: 3rem;
        }

        .section-imagenes {
            h3 {
                font-size: 2rem;
            }

            img {
                @include flex(column, none, none, center) ;
                align-content: space-evenly;
                width: 100%;
                height: 23rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }

        .section-videos {
            h3 {
                font-size: 2rem;
            }

            iframe {
                @include flex(column, none, none, center) ;
                align-content: space-evenly;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 26rem;
                height: 15rem;
            }
        }
    }

    .main-sponsors {
        .sponsor-principal {
            h2 {
                font-size: 2.25rem;
            }
        }

        .sponsor-secundarios {
            h2 {
                font-size: 2rem;
            }
        }
    }

    .pie-pag {
        ul {
            gap: 0.25rem;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}