@media (max-width:1024px) {

.main-plantel{
    .titulo-plantel {
        font-size: 3.5rem;
        font-weight: bolder;
        padding-left: 2.35rem;
    }
    .section {
        @include flex(row, wrap, none, none) ;

        gap: 1rem;
        h4 {
            color: $color-nombre;
            font-size: 1.5rem;
            padding-left: 2.5rem;
            padding-bottom: 0.5rem;
        }
        img {
            width: 31rem;
            height: 33rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }
}



    .subtitulo-arquero {
        color: $color-texto-posicion;
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }


    .subtitulo-defensores {
        color: $color-texto-posicion;
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
    }

    .subtitulo-mediocampistas {
        color: $color-texto-posicion;
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;  
    }

    .subtitulo-delanteros {
        color: $color-texto-posicion;
        font-size: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 1rem;    
    }

.main-galeria{
    .section-imagenes{
        img {
            width: 20rem;
            height: 16rem;
            padding-left: 3rem;
        }
    }


.section-videos{
    iframe {
        @include flex(column, wrap, space-evenly, center) ;
        gap: 2rem;
        padding-top: 1rem;
        padding-bottom: 4rem;
        width: 60rem;
        height: 36rem;
    }
}
}
}