@import "../utilities/variable" ;
@import "../utilities/mixins" ;

.main-plantel {
    .titulo-plantel {
        background-color: $background-principal;
        color: $color-titulos-principales;
        font-size: 2.25rem;
        font-weight: bold;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
        padding-top: 1.5625rem;
        font-family: 'Poppins', sans-serif;
    }

    .section {
        background-color: $background-principal;
        @include flex(row, wrap, none, none) ;
        row-gap: 3rem;
        font-family: 'Poppins', sans-serif;

        h4 {
            color: $color-nombre;
            font-size: 1rem;
            padding-left: 2.5rem;
            padding-bottom: 0.5rem;
        }

        img {
            width: 16.5rem;
            height: 20rem;
            padding-left: 2.5rem;
        }
    }
}

.subtitulo-arquero {
    background-color: $background-principal;
    color: $color-texto-posicion;
    font-size: 1.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.subtitulo-defensores {
    @extend .subtitulo-arquero;
    padding-top: 1rem;
}

.subtitulo-mediocampistas {
    @extend .subtitulo-defensores;
}

.subtitulo-delanteros {
    @extend .subtitulo-defensores;
}