.main-tienda {
    .titulo-tienda {
        background-color: whitesmoke;
        color: green;
        font-size: 2.25rem;
        font-weight: bold;
        padding-left: 2.5rem;
        padding-bottom: 1rem;
        padding-top: 1.5625rem;
        font-family: 'Poppins', sans-serif;    
    }

    .rem-jug {
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Poppins', sans-serif;

        h3 {
            color: black;
            font-size: 1rem;
            padding-left: 3.125rem;
            padding-bottom: 1.5625rem;
        }

        img {
            width: 20rem;
            padding-left: 3.125rem;
        }

        button {
            font-size: 1.5rem;
            color: black;
            background-color: green;
            width: 6.5rem;
            height: 2rem;
            border: .125rem solid black;

            &:active {
                background-color: lightgreen;
            }
        }
    }

    .rem-arq { 
        @extend .rem-jug ;
        h3 {
            padding-top: 1.5625rem;
        }
    }

    .short-tit {
        @extend .rem-arq ;
    }

    .form {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        input {
            font-weight: bolder;

            &:focus {
                box-shadow: 2px 2px 5px lightgreen;
                background-color: lightgreen;
            }
        }
    }
}